@page
@model IndexModel

@using Microsoft.AspNetCore.Authentication

<h2>Claims</h2>

<dl>
    <dt>@User.Claims.First(x=> x.Type == "name").Type</dt>
    <dd>@User.Claims.First(x=> x.Type == "name").Value</dd>
</dl>
